:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjARkKHRc9XZ4kAAAAiklEQVQY02XPTQ7CQAiG4RfQGOMBvP/BXBlXTWblTxNLccF06rSsvjyEAOLKrlTmnbnKTt2UrbqhbNQNlF7dSPxTNxZE5APA21gRORaIcq4DUWt8+N1rbhiv23eJ7cko16HdsHSHKcZSs0T2nheByU+5NnE65NhsK+bNTbUzRL3ialW1t1SJ3oCYf40hZgEACY7UAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTAxLTI1VDEwOjI5OjIzKzA4OjAwIpqW9AAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wMS0yNVQxMDoyOToyMyswODowMFPHLkgAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC);
}

a {
  color: inherit;
  text-decoration: none;
}
